body {
  margin: 0;
  /* font-family:'Ubuntu'; */
  font-family: 'Merriweather', serif;
/* font-family: 'Poppins', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

